/* CSS for Responcing page */

@media only screen and (max-width: 1220px) {
    .faculty .faculty_box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 992px) {
    .welcome {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .welcome_text {
        width: 500px;
    }

    .slide {
        height: 550px;
    }

    .grid_box {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .logo_name span:nth-child(1) {
        display: none;
    }

    .logo_name span:nth-child(2) {
        display: inline;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 870px) {
    .footer_content {
        height: 500px;
        background-color: #3d3d3d;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;

    }

    .g_buttons button {
        width: 85px;
        height: 30px;
        font-size: 14px;
        margin: 20px 0px 0px 10px;
        border-radius: 5px;
    }
}


@media only screen and (max-width: 820px) {
    .faculty .faculty_box {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .input {
        max-width: 800px;
        min-width: 200px;
    }

    .contact_content {
        padding: 10px 0px 10px 0px;
    }

    .contact_content h1 {
        font-size: 40px;
    }

    .contact_content p {
        font-size: 15px;
    }

    .input label {
        font-size: 15px;
    }

    .input :nth-child(1) h1 {
        font-size: 25px;
    }

    .input input,
    textarea {
        width: 55%;
        font-size: 14px;
        height: 30px;
    }

    .input input:placeholder-shown {
        padding: 5px;
        font-size: 13px;
    }

    .input textarea {
        height: 100px;
    }

    .input textarea:placeholder-shown {
        padding: 5px;
        font-size: 13px;
    }

    .contact_section {
        padding: 20px 20px 0px 40px;
    }

    .contact_detail_outer .contact_img img {
        margin-left: -100px;
        margin-top: 80px;
        height: 400px;
        transition: 0.5s;
    }

    .contact_detail_outer .contact_img img:hover {
        margin-top: 30px;
        height: 450px;
    }
}

@media only screen and (max-width: 740px) {
    .main_bg {
        height: 550px;
    }

    .main_text h1 {
        font-size: 50px;
    }

    .main_text h2 {
        font-size: 40px;
    }

    .main_text p {
        font-size: 18px;
    }

    .slide {
        height: 420px;
    }

    .thumbnail .item {
        width: 80px;
        height: 100px;
    }

    .thumbnail .item img {
        border-radius: 5px;
    }

    .arrow button {
        width: 40px;
        height: 40px;
        font-size: 35px;
        border-radius: 5px;
    }

    .slide.next .list .item:nth-child(1) img {
        width: 80px;
        height: 100px;
    }

    @keyframes outFrame {
        to {
            width: 80px;
            height: 100px;
            right: calc(400px + 3vw);
            bottom: 50px;
            border-radius: 5px;
        }
    }

    .gallery img {
        width: 200px;
        height: 140px;
    }


    /* principal Quotes */
    .p_quote {
        height: 400px;
    }

    .p_quote p {
        font-size: 25px;
    }

    .p_quote .p_quote_text p:nth-child(2) {
        font-size: 16px;
    }


    .p_quote_img {
        width: 320px;
        height: 450px;
        padding-right: 10px;
    }

    .p_quote_img img {
        width: 260px;
        height: 450px;
        object-fit: cover;
    }

    .contact_detail_outer .contact_img img {
        margin-left: -150px;
    }

    .info {
        height: 350px;
    }

    .info img {
        min-width: 315px;
    }

    .info_text p {
        font-size: 28px;
    }

    .info_text div {
        justify-content: start;
    }

    .info_text div button {
        font-size: 21px;
    }

}

@media only screen and (max-width: 615px) {
    .heading {
        font-size: 18px;
    }

    .welcome {
        padding: 40px 20px;
        row-gap: 30px;
    }

    .welcome_img {
        width: 400px;
    }

    .welcome_img img {
        height: 100%;
        width: 400px;
    }

    .welcome_text {
        width: 400px;
    }

    .welcome_text h1 {
        font-size: 36px;
    }

    .welcome_text h3 {
        font-size: 23px;
    }

    .welcome_text p {
        font-size: 15px;
    }

    .info {
        height: 300px;
    }

    .info img {
        bottom: 5px;
        position: absolute;
        width: 280px;
        height: 280px;
        min-width: 220px;
        padding-left: 0px;
    }

    .info_text{
        margin-left: 255px;
    }

    .info_text p {
        font-size: 22px;
    }

    .info_text div {
        justify-content: start;
    }

    .info_text div button {
        font-size: 20px;
    }

    .slide {
        width: 100%;
        height: 350px;
    }

    .thumbnail .item {
        width: 60px;
        height: 80px;
    }

    .slide.next .list .item:nth-child(1) img {
        width: 60px;
        height: 80px;
    }

    @keyframes outFrame {
        to {
            width: 60px;
            height: 80px;
            right: calc(320px + 3vw);
            bottom: 50px;
            border-radius: 5px;
        }
    }

    .thumbnail .item img {
        border-radius: 5px;
    }

    .arrow button {
        width: 35px;
        height: 35px;
        font-size: 30px;
    }

    .f_box {
        width: 100%;
        min-width: 150px;
        max-width: 210px;
        height: 320px;
    }

    .f_box img {
        height: 200px;
    }

    .f_box .text h3 {
        font-size: 21px;
    }

    .f_box .text p {
        font-size: 12.5px;
    }

    .f_box button {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }

    .faculty .faculty_box .faculty_img {
        width: 180px;
        height: 280px;
    }

    .faculty .faculty_box .faculty_img img {
        width: 170px;
        height: 170px;
    }

    .administration .administration_box {
        height: 100%;
        grid-template-columns: 1fr;
    }

    .faculty .faculty_box {
        grid-template-columns: 1fr 1fr;
    }

    .p_quote {
        flex-direction: column;
        height: 600px;
        gap: 10px;
    }

    .p_quote .p_quote_text {
        margin: 10px 0px 0px 0px;
        padding: 20px 20px 0px 20px;
        width: 100%;
    }

    .p_quote p {
        font-size: 25px;
    }

    .p_quote .p_quote_text p:nth-child(2) {
        font-size: 16px;
    }

    .p_quote_img {
        width: 320px;
        height: 350px;
        padding-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p_quote_img img {
        width: 260px;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }

    .contact_detail_outer {
        height: 400px;
    }

    .contact_detail_outer .contact_img img {
        margin-left: -100px;
        margin-top: 100px;
        height: 300px;
    }

    .contact_detail_outer .contact_img img:hover {
        margin-top: 70px;
        height: 330px;
    }

    .contact_detail h2 {
        font-size: 18px;
        margin: 10px 0px 10px 0px;
    }

    .contact_detail p {
        font-size: 14px;
        margin: 2px 0px 2px 0px;
    }

    .contact_detail div {
        width: 300px;
        height: 100px;
    }

}

/* for IQOO12 */

@media only screen and (max-width: 520px) {
    .contact_detail_outer {
        height: 320px;
    }

    .contact_detail_outer .contact_img img {
        margin-left: -60px;
        margin-top: 70px;
        height: 250px;
    }

    .contact_detail_outer .contact_img img:hover {
        margin-top: 40px;
        height: 280px;
    }

    .contact_detail h2 {
        font-size: 16px;
        margin: 8px -10px 5px -10px;
    }

    .contact_detail p {
        font-size: 12px;
        margin: 2px -10px 2px -10px;
    }

    .contact_detail div {
        width: 250px;
        height: 75px;
        margin: 0px -10px 0px -15px;
    }
        .info {
        height: 300px;
    }

    .info img {
        bottom: -200px;
        position: absolute;
        width: 280px;
        height: 280px;
        min-width: 220px;
        padding-left: 0px;
    }

    .info_text{
        margin-left: 255px;
    }

    .info_text p {
        font-size: 22px;
    }

    .info_text div {
        justify-content: start;
    }

    .info_text div button {
        font-size: 20px;
    }

    .slide {
        width: 100%;
        height: 350px;
    }

    .thumbnail .item {
        width: 60px;
        height: 80px;
    }

    .slide.next .list .item:nth-child(1) img {
        width: 60px;
        height: 80px;
    }
}

/* CSS for large mobile */

@media only screen and (max-width: 460px) {
    .heading {
        font-size: 14px;
    }

    .main_text {
        width: 90%;
    }

    .main_text h1 {
        font-size: 40px;
    }

    .main_text h2 {
        font-size: 30px;
    }

    .main_text p {
        font-size: 18px;
    }

    .info {
        height: 220px;
    }

    .info img {
        min-width: 180px;
    }

    .info_text p {
        font-size: 20px;
    }

    .info_text div {
        justify-content: start;
    }

    .info_text div button {
        width: 140px;
        height: 40px;
        font-size: 18px;
    }

    .slide {
        height: 250px;
    }

    .thumbnail {
        gap: 10px;
    }

    .thumbnail .item {
        width: 45px;
        height: 65px;
    }

    .thumbnail .item img {
        border-radius: 5px;
    }

    .input {
        min-width: 150px;
    }

    .contact_section {
        padding: 0px 20px 0px 20px;
    }

    .g_buttons {
        padding: 0px;
    }

    .g_buttons button {
        background-color: transparent;
    }

    .g_buttons button:hover {
        background-color: transparent;
        box-shadow: 0px 0px 5px;
        padding: 5px;
    }

    .gallery {
        margin: 30px 0px;
    }

}

@media only screen and (max-width: 376px) {
    .grid_box {
        grid-template-columns: 1fr;
    }

    .welcome_img {
        width: 300px;
    }

    .welcome_img img {
        width: 300px;
    }

    .f_box {
        width: 100%;
        min-width: 180px;
        max-width: 250px;
        height: 350px;
    }

    .f_box img {
        width: 100%;
        height: 180px;
    }

    .f_box .text {
        width: 100%;
        height: 45%;
    }

    .f_box .text h3 {
        font-size: 25px;
    }

    .f_box .text p {
        font-size: 15px;
    }

    .f_box button {
        width: 120px;
        height: 38px;
        font-size: 20px;
    }

    .footer_link {
        min-width: 100px;
        height: 300px;
    }

    .footer_link h2 {
        padding: 10px 0px 0px 5px;
    }

    .footer_link p {
        padding: 10px 0px 0px 5px;
    }

    .footer_link ul {
        padding: 15px 5px 0px 5px;
    }

    .footer_map {
        max-width: 300px;
        min-width: 100px;
        height: 150px;
    }

    .p_quote p {
        font-size: 22px;
    }

    .p_quote .p_quote_text p:nth-child(2) {
        padding-top: 10px;
        font-size: 14px;
    }
}
